.grid-box{
    display: grid;
   
    grid-template-columns: repeat(2,1fr);
   column-gap: 10px;
   row-gap: 10px;
    justify-items: center;
    background-color: yellow;


}
.item 
{
    display: flex;
    flex-direction: column;
    background-color: red;
    
}
.item img{
    width: 200px;
    height: auto;
    
    
}
.Box{
    width: 500px;
    height: 500px;
    display: flex;
   
 
   
}
.item p{
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
    width: auto
}